@charset "UTF-8";

*{
	font-family: 'Noto Sans KR', sans-serif;
	color: #5c5c5c;	
}

a{
	text-decoration: none;
	color: black;
}

.res_con{
	padding: 10px;
}


/* 전체 div*/
.out_con {
	width: 1040px;
	margin:20px auto;
	padding: 10px 10px;
	font-size: 14px;
}

/* 이미지, 닉네임 컨테이너 */
.top_con {
	display: flex;
	padding-bottom: 30px;
}

/* 프로필이미지 */
#profile_img {
	width: 90px;
	height: 90px;
	object-fit: cover;
	border-radius: 50%;
	padding: 10px;
}
/* 본인 닉네임 */
#my_nick{
	font-weight: 600;
	font-size: 18px;	
}

/* 닉네임, 회원수정*/
.nick_con{
	margin: 10px;
	line-height: 50px;
}

/* 회원정보수정 아이콘 */
#set_icon{
	padding-top: 10px;
	width: 30px;
	height: 30px;
	object-fit: cover;
}

/* 회원 url */
.url_con{
	font-size: 12px;
	color: grey;
}


/* 메뉴 */
.menu_con {
	display: flex;	
}

/* 메뉴 탭 */
.menu_item{
	font-size: 16px;
	display: flex;
	margin-right: 30px;
	color: grey;
	transition: transform 0.2s ease;	
}
.menu_item:hover{
    transform: scale(1.1);
    transform-origin: bottom;
}

/* 메뉴탭 언더바 */
.menu_under_hr{
	height: 5px;
	border: 0;
	box-shadow: 0 3px 5px -5px grey inset;
}

/* */
.result {
	padding: 3px 5px;
}






/*올린프로젝트 후원한프로젝트 */
.pro_con, .follo_con{
	display: flex;
	flex-direction: row;
	padding: 10px 15px;
	margin: 10px 0;
	align-items: center;
}
.result_count{
	margin: 10px;
}
.pro_img{
	width: 160px;
	height: 140px;
	object-fit: cover;	
}
.pro_right{
	padding-left: 15px;
	line-height: 24px;
}
.pay_info{
	padding-top: 16px;
}
.fund_pay{
	padding: 0 5px;
	background-color: #ebebeb;
	color: black;
	font-weight: 500;	
}
.pro_title{
	margin-bottom: 20px;
}
.pro_category, .fund_info{
	font-size: 13px;
}
.pro_longtitle{
	font-size: 16px;
	font-weight: 600;
}
#pro_day, #pro_goal{
	font-weight: 500;
	color: #ff4a55; 
}
.amount{
	color: #ff4a55;
}


/* 팔로워 팔로잉 */
.follo_img{
	width: 80px;
	height: 80px;
	object-fit: cover;	
	border-radius: 50%;
}
.follo_right{
	padding-left: 20px;
	line-height: 26px;
}
.follo_hr{
	border: 1px solid #cfcfcf;
	transform: scaleY(0.5);
}
.follo_nick{
	font-weight: 500;
	font-size: 16px;
	margin: 10px 0;
}
.follo_desc{
	font-size: 15px;
}
.follo_btn{
	margin-left: auto;	
}
.result .follower_btn, .result .following_btn{
	width: 120px;
	height: 40px;
	border: 1px solid #a3a1a1;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    background-color: white;
    cursor:pointer;
}
.result .follower_btn:hover{
	background-color: #ebebeb;
}

.result .following_btn:hover{
	background-color: #ebebeb;
}
