@charset "UTF-8";
#sign_up_container{
	width: 800px;
	margin: 0 auto;
	margin-top: 100px;
}
form{
	display: inline-block;
	margin: 0 auto;
}

td input{
	border: 0px;
}

table{
	border-collapse: collapse;
  	border: 1px solid black;
  	border-radius: 10px;
}
tbody{
	border: 1px solid black;
	border-radius: 10px;
}
tr{
	border: 1px solid black;
	height: 50px;
}
th{
	width: 110px;
}
td{
	
}