<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<typeAliases>
		<typeAlias type="member.dto.MemberDTO" alias="memberdto"/>
		<typeAlias type="member.dto.FollowDTO" alias="followdto"/>
		<typeAlias type="project.dto.ProjectDTO" alias="projectdto"/>		
		<typeAlias type="funding.dto.FundingDTO" alias="fundingdto"/>		
		<typeAlias type="project.dto.BundleDTO" alias="bundledto"/>		
		<typeAlias type="project.dto.ItemDTO" alias="itemdto"/>	
		<typeAlias type="project.dto.ItemOptionDTO" alias="itemoptiondto"/>	
		<typeAlias type="project.dto.FundingBundleCountDTO" alias="countdto"/>	
	</typeAliases>
</configuration>