@charset "UTF-8";

.approval-table {
  border-collapse: collapse;
  border-top: 3px solid #168;
  width:100%;
}  
.approval-table thead th {
  color: #168;
  background: #f0f6f9;
  text-align: center;
}
.approval-table th, .approval-table td {
  padding: 10px;
  border: 1px solid #ddd;
}
.approval-table th:first-child, .approval-table td:first-child {
  border-left: 0;
}
.approval-table th:last-child, .approval-table td:last-child {
  border-right: 0;
}
.approval-table tr td:first-child{
  text-align: center;
}
.pagination-container{
	text-align:center;
	margin-top:20px;
}
.pagination-container a{
	padding:4px 8px;
	text-decoration:none;
	color:#000;
	border:solid 2px #ccc;
	border-radius:5px;

	font-family:arial;
}
.pagination-container a:hover{
	background:#dedcde;
}
.active-pagination{
	background:#dedcde;
}
.detail-btn{
	text-decoration:none;
	color:#fff;
	font-size:13px;
	border:solid 1px #357edd;
	background:#357edd;
	padding:5px 10px;
	border-radius:5px;
	cursor:pointer;
}
.detail-btn:hover {
    background-color: #2a5db0; 
}
.accept-btn{
	text-decoration:none;
	color:#fff;
	font-size:13px;
	border:solid 1px #13aa52;
	background:#13aa52;
	padding:5px 10px;
	border-radius:5px;
	cursor:pointer;
}
.reject-btn{
	text-decoration:none;
	color:#fff;
	font-size:13px;
	border:solid 1px #e62143;
	background:#e62143;
	padding:5px 10px;
	border-radius:5px;
	cursor:pointer;
}
.accept-btn:hover{
    background-color: #0f8a43; 
    border-color: #0f8a43; 
}
.reject-btn:hover {
    background-color: #d81135; 
    border-color: #d81135; 
}



.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}


.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}


.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modal-head1{
	font-size:22px;
	font-weight:bold;
	margin-bottom:10px;
}
.preview_table{
  width:100%;
  border-collapse: collapse;
  border-top: 3px solid #168;
}
.preview_table tr th{
	 color: #168;
  background: #f0f6f9;
  text-align: center;
}


.preview_table th, .preview_table td {
  padding: 10px;
  border: 1px solid #ddd;
}
.preview_img{
	max-width:100%;
	max-height:300px;
}
.preview_content img{
	max-width:100%;
	max-height:200px;
}
