@charset "UTF-8";


#project_detail_container{
	width: 1040px;
	font-size: 14px;
	margin:30px auto;
}

.project-info{
	border-bottom: 1px solid #cfcfcf;
	padding: 10px 0 20px 0;
}
#project_info_upper_part{
	text-align: center;
}
#project_info_lower_part{
	height:510px;
}
#main_images_wrap{
	display: inline-block;
	height:100%;
}

#main_image{
	height: 500px;
	width: 580px;
	object-fit: cover;
}
#other_info_wrap{
	height: 100%;
	display: inline-block;
	position:relative;
	float: right;
	width: 370px;
}
#content_container{
	display: inline-block;
	width: 730px;
	position:relative;
	float: left;
	border: 1px solid #fff;
}
.bundle-info{
	display: inline-block;
	width: 260px;
	padding: 20px 10px 10px 20px;
	height: auto;
}
#cart{
	border: 1px solid black;
	margin-bottom: 10px;
	padding: 15px;
}
.selected_bundle_box{
	border: 1px solid #cfcfcf;
	margin-bottom: 20px;
	padding: 10px;
	font-size: 13px;
	background-color: #f5f5f5;
}

.bundle_box{
	cursor: pointer;
	border: 1px solid black;
	margin-bottom: 10px;
}
.bundle_box_chosen{
	cursor: pointer;
	border: 1px solid black;
	margin-bottom: 10px;
}

select[class^=item_option_select]{
	display: none;
}
.add_cart_btn_wrap{
	display: none;
}
.selected_bundle_box_form{
	display: none;
}
#extra_price{
	width: 85%;
	border: 1px solid #cfcfcf;
	border-radius: 5px;
	outline: grey;
	padding-left: 10px;
}



#pro_long_title{
	font-size: 34px;
	font-weight: 600;
	color: #292929;
	margin-bottom: 50px;
}
.project_info_tap_result{
	font-size: 26px;
	color: #292929;
	margin-bottom: 20px;
}
#project_info_achaive{
	font-size: 20px;
	margin-left: 10px;
	color: #fc035a;	
}
.project_info_tap_hr{
	border: 1px solid #f0f0f0;
	transform: scaleY(0.1);
	margin: 25px 0;
}
.project_info_tap_detail{
	display: flex;
    align-items: center;
}
.project_info_tap_left{
	width: 100px;
	margin: 3px 0;
}
#project_info_tap{
	margin-bottom: 25px;
}

.project_dibs_btn{
	padding: 0 5px;
	width: 100%;
	height: 35px;
	letter-spacing: 1px;
	background-color: #82c8a0;
	cursor: pointer;
	border: none;
	outline: none;
	border-radius: 5px;
	color: #fff;
	margin: 10px 0;	
}




#collector_img{
	width: 90px;
	height: 90px;
	object-fit: cover;	
	border-radius: 50%;
	margin-top: 10px;	
}
#collector_info_tap{
	display: flex;
	margin: 20px 0;
}
.collector_info_right{
	margin-left: 20px;
}
.collector_info_title{
	margin-bottom: 10px;
	font-size: 12px;
	margin-top: 5px;
	display: flex;
    align-items: flex-end;		
}
.collector_info_nick{
	font-weight: 600;
	margin-top: 5px;
	color: #292929;
	margin-left: 10px;
	font-size: 14px;
}
.collector_info_desc{
	font-size:13px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	word-break: keep-all;	
	overflow: hidden;
}




.collector_ask_follow_btn{
	margin: 10px 0 5px 0;	
}
.collector_btn{
	height: 35px;
	width: 48%;
	background-color: #fff;
	border: 1px solid #cfcfcf;
	cursor: pointer;
	border-radius: 5px;
}
#ask_btn{
	margin-right: 10px;
}
.collector_btn:hover {
	border: 1px solid grey;
}



.project_menu_tab{
	display: flex;
	height: 35px;
	align-items: center;
	font-size: 16px;
	border-bottom: 1px solid #cfcfcf;
	
}
.project_menu_tab a{
	margin-right: 30px;

}



/* -------------*/
#content_container img{
	width: 730px;
	object-fit: cover;	
}


.content_container_inner_title{
	border-left: 2px solid #cfcfcf;
	border-left-color: #292929;
	padding-left: 30px;
	font-size: 30px;
	font-weight: 600;
	margin: 20px 0px;
}



.content_bundle_container{
    height: auto;
    display: flex;	
}
.bundle_list_sticky{
	position: sticky;
    top: 150px;
	overflow: auto;
    height: 770px;
    overflow-x: hidden;
}

#bundle_list_title, #selected_list_title, #cart_supplement_title,
#bundle_inventory_title{
	font-weight: 600;
	margin-bottom: 10px;
}

.bundle_box, .bundle_box_chosen, #cart{
	border: 1px solid #cfcfcf;
	padding: 10px;
	margin-bottom: 30px;
}
#cart{
	margin-bottom: 30px;
}
.bundle_price_wrap{
	font-size: 20px;
	font-weight: 600;
	color: #292929;
}
.item_list{
	padding-inline-start: 10px;
}
.item_list li {
	font-size: 13px;
}
.item_option_select{
	font-size: 13px;
	border: 1px solid #cfcfcf;
	border-radius: 5px;
	height: 32px;
	outline: none;
	padding: 0 10px;
	width: 90%;
}
.item_name_wrap{
	line-height: 28px;
}
.add_cart_btn{
	background-color: #82c8a0;
	color: #fff;
	width: 100%;
	height: 40px;
	border: none;
	outline: none;
	font-size: 15px;
	cursor: pointer;
}
.selected_bundle_name_wrap{
	color: #292929;
	font-weight: 600;
}
.delete_btn_wrap{
	text-align: right;
	color: #292929;
}
.delete_btn{
	background-color: #f5f5f5;
	border: none;
	outline: none;
	border-bottom: 1px solid #cfcfcf;
	font-size: 12px;
	cursor: pointer;	
}
.selected_bundle_box ul{
	padding-inline-start: 10px;
}
.selected_bundle_item_list{
	font-size: 13px;
	margin-top: 20px;
}
.selected_item{
	margin-bottom: 10px;
}

.count_btn_wrap{
	display: flex;
	flex-direction: row;
    justify-content: flex-end;
}
.count{
	width: 20%;
	border: 1px solid #cfcfcf;
	border-radius: 5px;
	outline: none;
	padding-left: 10px;
}
.minus_btn, .plus_btn {
	background-color: #fff;
	width: 13%;
	margin-left: 5px;
	border: 1px solid #cfcfcf;
	outline: none;
	border-radius: 5px;
	color: #292929;
	font-weight: 600;
	cursor: pointer;
}
.selected_bundle_price_wrap{
	font-size: 18px;
    font-weight: 600;
    color: #292929;	
    margin-top: 20px;
    text-align: right;
}
#total_price_wrap{
	margin: 20px 0;
	text-align: right;
    font-size: 20px;
    color: #fc035a;
    font-weight: 600;
}
.extra_price_div{
	text-align: right;
}

#funding_btn{
	background-color: #82c8a0;
	color: #fff;
	width: 100%;
	height: 40px;
	border: none;
	outline: none;
	font-size: 15px;
	cursor: pointer;
}