@charset "UTF-8";

*{
	box-sizing: revert;
}

.update_post_box{
	background:#f5f5f5;
	border-radius:10px;
	margin-bottom:10px;
	padding:10px;
}
.update_post_box .content{
	padding:10px 0px;
}
.update_post_box .header{
	display:flex;
	justify-content: space-between;
}
.update_post_box .bottom{
	display:flex;
	margin-top:5px;
}
.update_post_box .bottom div:first-child{
	padding-right:5px;
}
.update_post_box .bottom div:last-child{
	font-size:13px;
}
.update_post_box .content img{
	width:100% !important;
}
.sub-comment{
	margin-left:15px;
}
.update_big_btn{
	padding:10px ;
}
.update_big_btn .btn-2{
	display:block;
	text-align:center;
}
.update_empty{
	font-size:20px;
	text-align:center;
	font-weight:bold;
	outline:none;
}
.comm-write-textarea{
	margin-left:15px;
	padding-bottom:10px;
}
.comm-write-textarea textarea{
	outline:none;
	border-radius:10px;
	padding:6px;
	width:100%;
}
.comm-radio{
	padding:5px;
	margin-bottom:5px;
}
.comm_post_ta{
	border-radius:5px;
	width:100%;
	padding:7px;
	outline:none;
	border:solid 1px #ccc;
}
.comm-post-form{
	margin-bottom:10px;
	padding:10px;
}

.update_post_container{
	border-bottom:solid 1px #ccc;

	padding:10px;
	
}
.update_post_container .header .user{
	font-weight:bold;
	color:#000;
}
.update_post_container .header .date{
	padding-top:5px;
	font-size:14px;
}
.update_post_container .header{
	margin-bottom:5px;
	display:flex;
	justify-content: space-between;
}
.update_post_container .content{
	font-size:16px;
	margin-bottom:25px;
	min-height:160px;
}
.update_post_container .bottom{
	margin-bottom:5px;
}
.update-comment{
	padding:5px;
}
.update-comment .header{
	display:flex;
	justify-content: space-between;
}
.update-comment .header .user{
	color:#000;
	font-weight:bold;
}
.update-comment .header .date{
	font-size: 0.8rem;
    color: rgb(117, 117, 117);
}
.update-comment .content{
	padding-top:10px;
	padding-bottom:10px;
}
.comment-bg{
	background:#f4f4f4;
}
.single-comment{
	padding:5px;
	border-bottom:dotted 1px #ccc;
}


.update-fullbox{
	margin-bottom:15px;
	border:solid 1px #ccc;
}
