@charset "UTF-8";


.title-bar-input{
	width:100%;
	outline:none;
	border: solid 1px #ccc;
	border-radius:5px;
	padding:5px;
	font-size:15px;
	margin-bottom:10px;
}
.content-textarea{
	width:100%;
	outline:none;
	border: solid 1px #ccc;
	border-radius:5px;
	padding:5px;
	font-size:15px;
	height:200px;
}
